<nav aria-label="Navigation">

  {{ .Scratch.Set "CurrentPage" . }}
  {{ range .Site.Data.sections.data }}
    {{ $isHome := (eq $.Page.Title $.Site.Title) }}
    {{ $isCurrentSection := (or (in $.Page.Permalink .path) (in $.Page.Permalink .group)) }}
    {{ if or $isCurrentSection (and $isHome .primary) }}
    <a href="{{ .path }}" class="project">
      <div class="banner">
        <div class="logo">
          <img src="{{ $.Site.BaseURL }}{{ .logo }}" style="padding:10px">
        </div>
        <div class="name">
          <strong>{{ .name }} <br /><span class="version">{{ .version }}</span></strong>
          {{ with .Scratch.Get "repo_id" }}
            <br>
            {{ . }}
          {{ end }}
        </div>
      </div>
    </a>
    {{ end }}
  {{ end }}
  <hr />
  <div class="scrollable">
    <div class="wrapper">
      <div class="toc">
        {{ range .Site.Data.sections.data }}  
          {{ $.Scratch.Set "CurrentSection" . }}
          {{ if in $.Page.Permalink .path }}        
          <ul>
            {{ $.Scratch.Set "CurrentSection" . }}
            {{ partial "nav" $.Scratch }}
          </ul>
          {{ end }}
        {{ end }}

        {{ if isset $.Site.Params "author" }}
        <hr>
        <span class="section">Useful links</span>
        
        <ul>
          {{ with $.Site.Social.twitter }}
          <li>
            <a href="https://twitter.com/{{ . }}" target="_blank" title="@{{ . }} on Twitter">
              @{{ . }} on Twitter
            </a>
          </li>
          {{ end }}

          {{ with $.Site.Social.github }}
          <li>
            <a href="https://github.com/{{ . }}" target="_blank" title="@{{ . }} on GitHub">
              @{{ . }} on GitHub
            </a>
          </li>
          {{ end }}

          {{ with $.Site.Social.support }}
          <li>
            <a href="{{ . }}" title="Contact Support">
              Contact Support
            </a>
          </li>
          {{ end }}
          <li>
            <a href="https://status.mapsindoors.com" title="MapsIndoors System Status">
              System Status
            </a>
          </li>
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
